head{
    font-family: sans-serif
}
body{
    background-color: #f9f9f9;
    font-family: "Avenir","Futura LT Light","Georgia","Garamond","Verdana";
    /*src: url('DevResources/Futura LT Light.ttf');*/

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

@font-face {
    src: url('DevResources/Futura LT Light.ttf');

}

h1 {
    color: black;
    font-family: "Verdana";

}

h2 {
    color: black;
    font-family: "Verdana";

}

h3 {
    color: black;
    font-family: "Verdana";
}

a{
    color: #4386C9;
}

img{
    position: relative;
}


nav {
    background-color: none;
    display: block;
    font-family: "Avenir";
    margin: .5em;
    margin: 0px; /*keep both margin statements and .5em before 0px.*/
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: auto;

}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

}


nav li {

    background: none;
    float: left;
}

nav li a, .drop_button {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover {
    background-color: black;
    /*opacity: .4;*/

}

nav li.dropdown {
    display: inline-block;
}

nav li.navBarLogo {
    /*float: right;*/
    position: absolute;
    right: 20px;
    top: 0px;
    background-color: transparent;
}

nav li.navBarLogo:hover{
    background-color: transparent;
}


nav .drop_content {
    background-color: black;
    /*opacity: .6;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
}

nav .drop_content a {
    color: white;
    display: block;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
}

nav .drop_content a:hover {
    background-color: black;
    opacity: .4;
}

nav .dropdown:hover .drop_content {
    display: block;
}



nav .drop_button.active {
    background-color: transparent;
    font-weight: bolder;
}

/*#bylaw {
    font-family: "Georgia";
    left: 40px;
    min-width: 400px;
    width: 90%;

}*/

.footer{
    height:180px;
    width:auto;
    background-color: #e5e5e5;
    margin:auto;
    border-left: 50px solid #e5e5e5;
    border-right: 50px solid #e5e5e5;
    border-top: 10px solid #e5e5e5;
    position: relative;
}

.footerContent {
    color: black;
    font-family: "Garamond";
    line-height:180%;
    /*border:4px solid lightgray;
    height:80px;*/
    float:left;
    display: inline-block;
    width: 33%;
    font-size: 18px;
    padding-bottom: 6px;

}

.footerTitle{
    font-size: 20px;
    font-weight: bold;

}

#homeRowWrapper {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px;

}

.majorBannerImg img{
    /*height: 620px;*/
    height: auto;
    max-height: 620px;
    width: 100%;
    min-height: 250px;
    clip: rect(0px,60px,200px,0px);
    display: block;
}

.pageImg img{
    height: auto;
    width: auto;
    display: none;
}

#primaryContent {
    display: inline-block;
    font-family: "Verdana";
    /*float: left;
    top: -120px;
    left: 250px;*/
    position: relative;
    margin-left: 80px;
    margin-top: 200px;
    max-width: 800px;
    line-height:200%;
    /*min-width: 50%;*/
    padding-bottom: 15%;

}

#rowBanner {
    background-color: black;
    color: black;
    display: block;
    height: 90px;
    position: relative;
    width: 100%;
    z-index: -1;
}

.rowBannerImg img {
    height: auto;
    max-height: 200px;
    width: 100%;
    min-height: 100px;
    /*clip: rect(0px,60px,200px,0px);*/
    display: block;
    position: relative;
    top: 90px;
}


#sideBarContainer {
    /*color: silver;*/
    display: inline-block;
    vertical-align: top;
    top: 210px;
    left: 30px;
    height: 100%;
    width: 210px;
    position: relative;

}
#sideBarContainer ul {
    background: none;
    display: block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}


#sideBarContainer li{
    background: none;
    border-bottom: 1px solid lightgrey;
    display: block;
}

#sideBarContainer li a {
    color: grey;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

#sideBarContainer .sideBar.active{
    background-color: none;
    color: black;
    font-weight: bold;
    font-style: bold;
    text-decoration: none;
}

#teamInformation h3{
    border-bottom: 2px solid black;
    max-width: 400px;
}

#teamInformation .blockAndCenter {
    display: inline-block;
    width: 10.9em;
    height: 75px;
    margin: 10px;
}

#missionContent {
    color: black;
}

.wechatQRcode {
    position: absolute;
    left: 50px;
    top: 20px;
    background-color: transparent;
}


footer{
    clear: both;
}
