body{
    font-family: "Avenir","Futura LT Light";
    src: url('DevResources/SourceHanSansCN-Normal.otf');
}

#eventContainer {
	display: block;
	vertical-align: top;
	margin-left: 0px;
	margin-top: 20px;
	width: 800px;
	height: auto;
	position: relative;
    overflow: hidden;
}

.eventBox {
	display: block;
    background-color: #e5e5e5;
    margin-bottom: 40px;
    /*padding: 10px;*/
    height: auto;
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;
    position: relative;


}

.eventBox img {
	height: auto;
	width: 100%;
    max-height: auto;
    /*max-height: 400px;*/
    /*clip: rect(0px,60px,200px,0px);*/
    display: block;
    position: relative;

}

#eventTextContainer {
    display: block;
    padding: 20px;
}

#eventTitle {
    font-family: "SourceHanSansCN-Normal";
    font-weight: bold;
    /*min-height: 50px;*/
    /*z-index: -1;*/
    font-size: 22px;
    color: black;
    text-align: center;/***not working***/
    position: absolute;
    top: 16px;
    left: 240px;
}

#eventText {
    font-family: "SourceHanSansCN-Normal";
    /*font-size: 18px;*/
    text-align: center;

}


