body{
    font-family: "Avenir","Futura LT Light","Georgia","Garamond","Verdana";
}
@font-face {
    src: url('DevResources/Futura LT Light.ttf');

}

#latestNewsContainer {
    display: block;
    min-height: 700px;
    width: 1060px;
    margin: 0 auto;
    position: relative;
}

#latestNewsTitle {
    display: block;
    font-family: "Avenir";
    font-size: 35px;
    font-weight: bold;
    color: black;
    position: static;
    top: 18px;
    text-align: center;
    min-width: 100%;
}

.newsBox {
    color: none;
    font-family: "Avenir";
    text-align: bottom;
    border: 1px solid lightgrey;
    margin: 15px;
    /*padding: 5px;*/
    height: 210px;
    width: 320px;
    float: left;
    overflow: hidden;
   
}

.newsBox img {
    height: auto;
    width: 100%;
    height: 210px;
    /*clip: rect(0px,50px,200px,0px);*/
    display: block;
    position: relative;
}

.newsBox img:hover {
    opacity: .6;
}

#primaryContentHomepage {
    display: block;
    min-height: 540px;
    font-family: "Avenir";
    font-size: 40px;
    line-height:120%;
    color: white;
    position: relative;
    top: 150px;
    /*margin-left: 18%;*/
    text-align: center;
    min-width: 100%;
    /*width: 800px;*/

}

#smaller {
    font-family: "Futura LT Light";
    font-size: 28px;
}


